name: Check-out
on:
  # schedule every day at 17:00 (UTC+7) / 12:00 (UTC)
  # in the past, "0 12 * * *" runs at around 19:30 (UTC+7), so I changed it to "30 10 * * *" to run at 17:30 (UTC+7)
  schedule:
    - cron: "30 10 * * *"
  workflow_dispatch:
    inputs:
      ACCOUNT_EMAIL:
        description: "Email Account"
        required: true
      ACCOUNT_PASSWORD:
        description: "Password Account"
        required: true
      GEO_LATITUDE:
        description: "Geolocation Latitude"
        required: true
        default: "-7.7865454"
      GEO_LONGITUDE:
        description: "Geo Longitude"
        required: true
        default: "110.3654918"

jobs:
  check-out:
    env:
      ACCOUNT_EMAIL: ${{ secrets.ACCOUNT_EMAIL || inputs.ACCOUNT_EMAIL }}
      ACCOUNT_PASSWORD: ${{ secrets.ACCOUNT_PASSWORD || inputs.ACCOUNT_PASSWORD }}
      GEO_LATITUDE: ${{ secrets.GEO_LATITUDE || inputs.GEO_LATITUDE }}
      GEO_LONGITUDE: ${{ secrets.GEO_LONGITUDE || inputs.GEO_LONGITUDE }}
      CHECK_TYPE: "CHECK_OUT"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 6.32.9
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Checking Out
        run: node index.js
